#lunch-create-post-btn {
  width: 70%;
  text-align: start;
  background-color: #dfe3ee;
  color: #3b5998;
  border-color: #3b5998;
}

#add-photo-to-post-btn {
  width: 100%;
  background-color: #dfe3ee;
  color: #3b5998;
  border-color: #3b5998;
}

#publish-post-btn {
    background-color: #3b5998;
}