.entry-page {
  background-color: #dfe3ee;
}

.entry-page main {
  display: flex;
  align-items: center;
  width: 80%;
  min-height: calc(100vh - 100px);
  margin: 0 auto;
}

.register-section {
  width: 45%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.register-side-section {
  width: 55%;
}

.register-background-img-container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.register-side-section img {
  width: 65%;
}
